/* TeamCards.css */
.team-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .main-header {
    margin-bottom: 0.5em;
  }
  
  .sub-header {
    margin-bottom: 1em;
    color: #007bff;
    font-weight: 300;
  }
  
  .card-container {
    display: flex;
    flex-direction: row; /* Ensure items are aligned horizontally */
    flex-wrap: wrap;
    justify-content: space-around;
  }
 