body {
    font-family: 'Arial', sans-serif;
    background-color: #a09b9b;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #ac3f98;
  }
  
  h2 {
    color: #146d28;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px;
  }
  