/* sara_aboutme.module.css */
.about-me-container {
  font-family: 'Arial', sans-serif;
  background-color: #a09b9b;
  color: #333;
  margin: 0;
  padding: 0;
}

.about-me-container .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.about-me-container h1 {
  color: #ac3f98;
}

.about-me-container h2 {
  color: #146d28;
}

.about-me-container ul {
  list-style: none;
  padding: 0;
}

.about-me-container li {
  margin-bottom: 8px;
}
