/* TeamMemberCard.css */
.card {
    border: 1px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 200px; /* Adjust width as needed */
    flex-grow: 1;
    margin: 10px;
    background-color: #fff; /* Assuming a white background */
  }
  
  .card img {
    width: 100%;
    height: auto; /* Or set a fixed height */
    background-color: #cccccc; /* Placeholder for images */
  }
  
  .card-info {
    padding: 10px;
    text-align: center;
  }
  
  .learn-more-btn {
    background-color: #0069CA;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .learn-more-btn:hover {
    background-color: #0055a4;
  }
  