.card {
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  
  .card-info h3 {
    margin: 5px 0 10px 0; 
    font-size: 20px; 
  }
  
  .card-info p {
    margin-bottom: 20px;
    font-size: 16px;
    color: grey;
  }
  
  .learn-more-btn {
    display: inline-block;
    padding: 12px 24px;
    margin-bottom: 15px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .learn-more-btn:hover {
    background-color: #0056b3;
  }
  